
<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
    
    <!-- Your Basic Site Informations -->
    <title>院聘荣誉小老师预约系统</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="学习咨询" />
    <meta name="author" content="Affapress" />
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" type="text/css">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/css/bootstrap.css">
    <link rel="stylesheet" href="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/css/jquery.fancybox.css">
    <link rel="stylesheet" href="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/css/flexslider.css">
    <link rel="stylesheet" href="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/css/style.css"
    
    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue.css">-->
    <!--<link rel="stylesheet" href="css/colors/green.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css">-->
    
    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
    
    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->
    
    <noscript><link rel="stylesheet" href="/css/no-js.css"></noscript>
    
    <!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    
</head>
<body>
    
    <!-- #header -->
    <header id="header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/images/content/bg/1.jpg">
    	
        		<div class="header-video" >
            <div class="flexslider loading affa_testimonials_carousel">
                        <ul class="slides">
    
    				        <li> <!-- 1 -->
    
                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3/uploads/banner_20160803175339_5784.jpg" alt="Image" />
    
                            </li>
                            <li> <!-- 1 -->
    
                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3/uploads/banner_20160803175700_4092.jpg" alt="Image" />
    
                            </li>
                                
                        </ul>
            </div>
        </div>
		        
        <!-- .header-overlay -->
        <div class="header-overlay">
            
            <!-- #navigation -->
            <nav id="navigation" class="navbar">
                
                <!-- .container -->
                <div class="container">
                    
                    <div class="navbar-brand">
                    	<a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/"><img  alt=""/></a> <!-- site logo -->
                    </div>
                    
                    <ul class="nav navbar-nav">
                        
                    <li class="active"><a href="../steacher/index.html" class="smooth-scroll">首页</a></li>
                    <li><a href="#" class="smooth-scroll">最新消息</a></li>
                    <li><a href="./show.html" class="smooth-scroll">小老师介绍</a></li>
                    <li><a href="./reserve.html" class="smooth-scroll">预约管理</a></li>
                    <li><a href="#" class="smooth-scroll">荣誉榜</a></li>
                    <li><a href="/create/" class="smooth-scroll">注册</a></li>
                    <li><a href="/jion/" class="smooth-scroll">登录</a></li>
                    </ul>
                    
                </div>
                <!-- .container end -->
                
            </nav>
            <!-- #navigation end -->
            
                        <!-- .header-content -->
            <div class="header-content">
                
                <!-- .container -->
                <div class="container">
                    
                    <div class="header-heading-title">
                        <h1>学习资讯 RATJU TUTORING</h1>
                        <h2>和小老师一同面对课业问题，提升学习成效<br>Tackle your problem with tutors and improve your learning results!</h2>
                    </div>
                    <div class="header-button">
                    	<!--<a href="https://www.youtube.com/embed/4ZawV1mXlS8?autoplay=1" class="btn-play-video fancybox-media">Play</a>-->
                        <a href="#" class="btn btn-default">如何使用小老师平台？<br>How to use this website ?</a>
                    </div>
                    
                </div>
                <!-- .container end -->
                
            </div>
            <!-- .header-content end -->
            
                        
        </div>
        <!-- .header-overlay -->

    </header>
    <!-- #header end -->
    <script>
	
	</script>
    <!-- #teams -->

    <div id="teams" class="wrap-container8040">

        <!-- .container -->

        <div class="container">

            <div class="post-heading-center">

                <h2>我们提供</h2>

                <p>We Provide</p>

            </div>

            <div class="row">

                <div class="col-sm-4"> <!-- 1 -->

                    <div class="affa_team_profile">

                        <h4>咨询<br>In-person Tutoring</h4>
						<img class="thumb" style="width:200px;" src="https://ctld.ntu.edu.tw/ls/reservation/v3//images/logo04.png">
                        <p><a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/reserv" class="btn btn-default">预约咨询课程<br>Reservation calendar</a></p>

                    </div>

                </div>

                <div class="col-sm-4"> <!-- 1 -->

                    <div class="affa_team_profile">

                        <h4>认识小老师<br/>Tutors</h4>
                        <img style="width:200px;" src="https://ctld.ntu.edu.tw/ls/reservation/v3//images/logo05.png">
                        <p><a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/intro_tutors" class="btn btn-default">认识小老师<br>Get to know the tutors</a></p>

                    </div>

                </div>
                
                <div class="col-sm-4"> <!-- 1 -->

                    <div class="affa_team_profile">

                        <h4>线上学习资源<br>Online Learning Resource</h4>
						<img style="width:200px;" src="https://ctld.ntu.edu.tw/ls/reservation/v3//images/logo03.png">
                        <p><a href="https://ctld.ntu.edu.tw/ls/tutoring_online/" target="_blank" class="btn btn-default">线上学习资源<br>Online Learning Resource</a></p>

                    </div>

                </div>
            </div>
            
        

        </div>

        <!-- .container end -->

    </div>

    <!-- #teams end -->
    
    
    
    <!-- #features -->

    <div id="features" class="wrap-container40">

        

        <!-- .container -->

    	<div class="container">

            

            <div class="post-heading-center">

            	<h2>最新消息</h2>

            </div>

            

            <!-- .row -->

            <div class="row">

                
                <div class="col-sm-3"> <!-- 1 -->
					<a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/news/details/50">
                	<div class="affa_feature_img">

                    	<h4>[2017-05-19]</h4>
	
    					<p>【閉館公告】106 年 05 月 29 日(一)至 05 月 30 日(二) 第一學習開放空間，期間全天閉館。 學習諮詢服務亦停課。</p>
                    </div>
					</a>
                </div>

                
                <div class="col-sm-3"> <!-- 1 -->
					<a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/news/details/51">
                	<div class="affa_feature_img">

                    	<h4>[2017-05-19]</h4>
	
    					<p>【Closure Announcement】The Learning Commons will be closed  from May 29 (Mon) to May 30 (Tue). Also the tutoring service will be unavailable during these days.</p>
                    </div>
					</a>
                </div>

                
                <div class="col-sm-3"> <!-- 1 -->
					<a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/news/details/48">
                	<div class="affa_feature_img">

                    	<h4>[2017-05-03]</h4>
	
    					<p>【教發中心】學習諮詢 ║ NIICO ║ 微積分之夜：直播解題，甲你交陪！</p>
                    </div>
					</a>
                </div>

                
                <div class="col-sm-3"> <!-- 1 -->
					<a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/news/details/47">
                	<div class="affa_feature_img">

                    	<h4>[2017-04-28]</h4>
	
    					<p>【公告】106 年 05 月 01 日(一)勞動節，課輔小老師與學習開放空間值班人員放假一日。</p>
                    </div>
					</a>
                </div>

                

            </div>

            <!-- .row end -->

            

        </div>

        <!-- .container end -->

        

    </div>

    <!-- #features end -->


    
    
<!-- #bottom -->
    <div id="bottom">
    	
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
                <p>地址：天津市团泊新城博学苑天津大学仁爱学院</p>
                <p>TEL：+86-022-68579990转8163</p>
                <p>FAX：+86-022-68579990转8163</p>
                <p>E-mail：tomliang2016@gmail.com</p>
            </div>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #bottom end -->
    
    <!-- #footer -->
    <footer id="footer">
    	
        <!-- .container -->
        <div class="container">
            
            <!--<div class="footer_socials">
                <a href="#" class="link-twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="link-pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="link-instagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="link-dribbble" title="Dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="link-github" title="Github"><i class="fa fa-github"></i></a>
                <a href="#" class="link-skype" title="Skype"><i class="fa fa-skype"></i></a>
                <a href="#" class="link-google-plus" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="link-facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            </div>-->
            
            <p>天津大学仁爱学院 版权所有　Copyright © 2016-2017 Intelligent Library New Technology R & D Center. All Rights Reserved</p>
            
        </div>
        <!-- .container end -->
        
    </footer>
    <!-- #footer end -->
    
    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->
    
    <!-- JavaScripts -->
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/response.min.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/smoothscroll.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.imgpreload.min.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/waypoints.min.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/parallax.min.js"></script>
	<script type="text/javascript" src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/js/script.js"></script>

    
</body>
</html>