<!DOCTYPE HTML>
<HTML lang="en">
    <script src="chrome-extension://jljkokagfomhfahkliblkggbiilcppnb/_locales/en/Kernel.js?0.2213747312524521"></script>
    <head>
        <meta charset="utf-8">
          <link rel="dns-prefetch" href="https://assets-cdn.github.com">
          <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
          <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
          <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
          <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
          <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
          <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
        <meta content="origin" name="referrer" />

          <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-77c3b874f32e71b14cded5a120f42f5c7288fa52e0a37f2d5919fbd8bcfca63c.css" integrity="sha256-d8O4dPMucbFM3tWhIPQvXHKI+lLgo38tWRn72Lz8pjw=" media="all" rel="stylesheet" />
          <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-6aa6c145362b4891aac2acb0174c926899e203fc333faddf158a9dd981aac9bf.css" integrity="sha256-aqbBRTYrSJGqwqywF0ySaJniA/wzP63fFYqd2YGqyb8=" media="all" rel="stylesheet" />
          <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-87fc1b705115bb5758018dffb7c1ed35b316b40ef094c4d5bd0478efe83d7af7.css" integrity="sha256-h/wbcFEVu1dYAY3/t8HtNbMWtA7wlMTVvQR47+g9evc=" media="all" rel="stylesheet" />


          <title>登录小老师 · steacher</title>
          <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="steacher">
          <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="steacher">

          <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
          <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  </head>

        
    <body class="logged-out env-production session-authentication page-responsive min-width-0">
        <div class="position-relative js-header-wrapper">
            <a href="#start-of-content" tabindex="1" class="px-2 py-4 show-on-focus js-skip-to-content">跳转到内容</a>
            <div id="js-pjax-loader-bar" class="pjax-loader-bar">
                <div class="progress">
                </div>
            </div>
            
            <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
                <div class="container clearfix width-full">
                    <a class="header-logo" href="#" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">

                    </a>
                </div>
            </div>
        </div>
        
        <div id="start-of-content" class="accessibility-aid"></div>
        
        <div role="main">
            
            <div class="auth-form px-3" id="login">
                
                <form accept-charset="UTF-8" action="/login/" method="POST">
                    <div style="margin:0;padding:0;display:inline">
                       <!-- <input name="utf-8" type="hidden" value="✓">
                        <input name="authenticity_token" type="hidden"> -->
                    </div>
                    
                    <div class="auth-form-header p-0">
                        <h1>登陆荣誉小老师</h1>  
                    </div>
                    
                    <div id="js-flash-container">
                    </div>
                    <!--登陆信息-->
                    <div class="auth-form-body mt-3">
                        <label for="login_field">用户名或Email</label>
                        <input  class="form-control input-block" id="login_field" name="login" tabindex="1" type="text">
                        <label for="password">
                            密 码
                            <a href="/password_reset/" class="label-link">忘记密码了？</a>
                        </label>
                        <input class="form-control form-control input-block" id="password" name="password" tabindex="2" type="password">
                        <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="登陆">
                    </div>
                </form>
                
                <p class="create-account-callout mt-3">
                    小老师新用户？
                    <a href="/create/" data-ga-click="Sign in, switch to sign up">创建一个新账户</a>
                    
                </p>
            </div>
            
        </div>
        <div class="site-footer" role="contentinfo">
            <ul class="site-footer-links">
                <li>
                    <a href="https://steacher.com/site/terms" data-ga-click="Footer, go to terms, text:terms">团队</a>
                </li>
                <li>
                    <a href="https://steacher.com/site/privacy" data-ga-click="Footer, go to terms, text:terms">隐私</a>
                </li>
                <li>
                    <a href="https://steacher.com/security" data-ga-click="Footer, go to terms, text:terms">安全</a>
                </li>
                <li>
                    <a href="https://steacher.com/contact" data-ga-click="Footer, go to terms, text:terms">联系我们</a>
                </li>
            </ul>
        </div>
        <div id="ajax-error-message" class="ajax-error-message flash flash-error">

            <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">

            </button>
            此时您无法执行该操作。
        </div>
        <script crossorigin="anonymous" integrity="sha256-X+Q/xqnlEgxCczSjjpp2AUGGgqM5gcBzhRQ0p+EAUEk=" src="https://assets-cdn.github.com/assets/frameworks-5fe43fc6a9e5120c427334a38e9a7601418682a33981c073851434a7e1005049.js"></script>
        <script async="async" crossorigin="anonymous" integrity="sha256-9f3FVxB/cYpRksFz2PYkixpq+nV44tJSLzI/gcmcC5s=" src="https://assets-cdn.github.com/assets/github-f5fdc557107f718a5192c173d8f6248b1a6afa7578e2d2522f323f81c99c0b9b.js"></script>
        <div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">

            <span class="signed-in-tab-flash">
                您可以使用其他标签和窗口登陆.
                <a>Reload</a>
                刷新你的会话.
            </span>
            <span class="signed-out-tab-flash">
                您可以使用其他标签和窗口登陆.
                <a>Reload</a>
                刷新你的会话.
            </span>
        </div>
        <div class="facebox" id="facebox" style="display:none;">
            <div class="facebox-popup" >
                <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description"></div>
            </div>
            <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">

            </button>
        </div>
    </body>
</HTML>
    
    