<!DOCTYPE HTML>
<HTML lang="en">
    <script src="chrome-extension://jljkokagfomhfahkliblkggbiilcppnb/_locales/en/Kernel.js?0.2213747312524521"></script>
    <head>
        <meta charset="utf-8">
        <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-81a59bf26d881d29286674f6deefe779c444382fff322085b50ba455460ccae5.css" integrity="sha256-gaWb8m2IHSkoZnT23u/necREOC//MiCFtQukVUYMyuU=" media="all" rel="stylesheet" />
        <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-8789d320be825216d799841dcb27bc201b0605572d4c8c07c30feb5bc27a66b7.css" integrity="sha256-h4nTIL6CUhbXmYQdyye8IBsGBVctTIwHww/rW8J6Zrc=" media="all" rel="stylesheet" />
        <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-be0c84af30c778f90986cc77d701859038e21bff46cf13f01a578aa537c10bab.css" integrity="sha256-vgyErzDHePkJhsx31wGFkDjiG/9GzxPwGleKpTfBC6s=" media="all" rel="stylesheet" />
        <title>登陆小老师</title>
    </head>
        
    <body class="logged-out env-production session-authentication page-responsive min-width-0 chrome-mouse">
        <div class="position-relative js-header-wrapper">
            <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">跳转到内容</a>
            <div id="js-pjax-loader-bar" class="pjax-loader-bar">
                <div class="progress">
                </div>
            </div>
            
            <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
                <div class="container clearfix width-full">
                    <a class="header-logo" href="#" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                        <svg aria-hidden="true" class="octicon octicon-mark-github" height="48" version="1.1" viewBox="0 0 16 16" width="48">
                            <path file-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="start-of-content" class="accessibility-aid"></div>
        
        <div role="main">
            
            <div class="auth-form px-3" id="login">
                
                <form accept-charset="UTF-8" action="/login/" method="POST">
                    <div style="margin:0;padding:0;display:inline">
                       <!-- <input name="utf-8" type="hidden" value="✓">
                        <input name="authenticity_token" type="hidden"> -->
                    </div>
                    
                    <div class="auth-form-header p-0">
                        <h1>登陆荣誉小老师</h1>  
                    </div>
                    
                    <div id="js-flash-container">
                    </div>
                    
                    <div class="auth-form-body mt-3">
                        <label for="login_field">用户名或Email</label>
                        <input  class="form-control input-block" id="login_field" name="login" tabindex="1" type="text">
                        <label for="password">
                            密 码
                            <a href="../tempalets/password_reset.html" class="label-link">忘记密码了？</a>
                        </label>
                        <input class="form-control form-control input-block" id="password" name="password" tabindex="2" type="password">
                        <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="登陆">
                    </div>
                </form>
                
                <p class="create-account-callout mt-3">
                    小老师新用户？
                    <a href="../tempalets/register.html" data-ga-click="Sign in, switch to sign up">创建一个新账户</a>
                    
                </p>
            </div>
            
        </div>
        <div class="site-footer" role="contentinfo">
            <ul class="site-footer-links">
                <li>
                    <a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">团队</a>
                </li>
                <li>
                    <a href="https://github.com/site/privacy" data-ga-click="Footer, go to terms, text:terms">隐私</a>
                </li>
                <li>
                    <a href="https://github.com/security" data-ga-click="Footer, go to terms, text:terms">安全</a>
                </li>
                <li>
                    <a href="https://github.com/contact" data-ga-click="Footer, go to terms, text:terms">联系我们</a>
                </li>
            </ul>
        </div>
        <div id="ajax-error-message" class="ajax-error-message flash flash-error">
            <svg aria-hidden="ture" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path>
            </svg>
            <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
                <svg aria-hidden="ure" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                </svg>
            </button>
            此时您无法执行该操作。
        </div>
        <script crossorigin="anonymous" integrity="sha256-X+Q/xqnlEgxCczSjjpp2AUGGgqM5gcBzhRQ0p+EAUEk=" src="https://assets-cdn.github.com/assets/frameworks-5fe43fc6a9e5120c427334a38e9a7601418682a33981c073851434a7e1005049.js"></script>
        <script async="async" crossorigin="anonymous" integrity="sha256-9f3FVxB/cYpRksFz2PYkixpq+nV44tJSLzI/gcmcC5s=" src="https://assets-cdn.github.com/assets/github-f5fdc557107f718a5192c173d8f6248b1a6afa7578e2d2522f323f81c99c0b9b.js"></script>
        <div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">
            <svg aria-hidden="ture" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rull="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path>
            </svg>
            <span class="signed-in-tab-flash">
                您可以使用其他标签和窗口登陆.
                <a>Reload</a>
                刷新你的会话.
            </span>
            <span class="signed-out-tab-flash">
                您可以使用其他标签和窗口登陆.
                <a>Reload</a>
                刷新你的会话.
            </span>
        </div>
        <div class="facebox" id="facebox" style="display:none;">
            <div class="facebox-popup" >
                <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description"></div>
            </div>
            <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
                <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                </svg>
            </button>
        </div>
    </body>
</HTML>
    
    