<!DOCTYPE html>
<script src="chrome-extension://jljkokagfomhfahkliblkggbiilcppnb/_locales/en/Kernel.js?0.6408201414596486"></script>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="origin" name="referrer">
        
        <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-81a59bf26d881d29286674f6deefe779c444382fff322085b50ba455460ccae5.css" integrity="sha256-gaWb8m2IHSkoZnT23u/necREOC//MiCFtQukVUYMyuU=" media="all" rel="stylesheet">
        <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-dbb1782bf89484308f4a1b39a9a044fbce97be665f5eeaf3d00a0c9ed4e130f2.css" integrity="sha256-27F4K/iUhDCPShs5qaBE+86XvmZfXurz0AoMntThMPI=" media="all" rel="stylesheet">
        <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-0047c348443848937ad9891b690c4acb6ee0d96263d91e9b1725194e65869e91.css" integrity="sha256-AEfDSEQ4SJN62YkbaQxKy27g2WJj2R6bFyUZTmWGnpE=" media="all" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
        <title>忘记密码了? · Steacher</title>
        <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Steacher">
        <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="Steacher">
        <meta property="fb:app_id" content="1401488693436528">
        <meta property="og:url" content="https://github.com">
        <meta property="og:description" content="GitHub is where people build software. More than 21 million people use GitHub to discover, fork, and contribute to over 59 million projects.">
        <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="1200">
        <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="620">
        <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="620">
        
        <link rel="assets" href="https://assets-cdn.github.com/">
        <meta name="pjax-timeout" content="1000">
        <meta name="request-id" content="C0D4:165A2:684186:A97B01:59224791" data-pjax-transient="">
        <meta name="selected-link" value="/password_reset" data-pjax-transient="">
        <meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
        <meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
        <meta name="google-analytics" content="UA-3769691-2">
        <meta content="collector.githubapp.com" name="octolytics-host">
        <meta content="github" name="octolytics-app-id">
        <meta content="https://collector.githubapp.com/github-external/browser_event" name="octolytics-event-url">
        <meta content="C0D4:165A2:684186:A97B01:59224791" name="octolytics-dimension-request_id">
        <meta content="true" data-pjax-transient="true" name="analytics-location-query-strip">
        <meta class="js-ga-set" name="dimension1" content="Logged Out">
        
        
        <link type="text/css" rel="stylesheet" href="chrome-extension://jljkokagfomhfahkliblkggbiilcppnb/_locales/en/main.css?0.33996124258280047">
        <script src="chrome-extension://jljkokagfomhfahkliblkggbiilcppnb/_locales/en/foreground.js?0.24153228743043575"></script>
        
        <meta name="hostname" content="github.com">
        <meta name="user-login" content="">
        <meta name="expected-hostname" content="github.com">
        <meta name="js-proxy-site-detection-payload" content="N2E3MjdhZTFkODk3YTQ1Y2VmZGVhMzU5NzJiYTFlZWU5NTM5YzRhOTQxMmY3ODM0ODAxOTIxOGQ1YTBiNjMwMXx7InJlbW90ZV9hZGRyZXNzIjoiNDUuNzYuMTk1LjExMyIsInJlcXVlc3RfaWQiOiJDMEQ0OjE2NUEyOjY4NDE4NjpBOTdCMDE6NTkyMjQ3OTEiLCJ0aW1lc3RhbXAiOjE0OTU0MTg3NzIsImhvc3QiOiJnaXRodWIuY29tIn0=">
        <meta name="html-safe-nonce" content="c2a94680877a4cc075784c36cf768daca2e6cd9e">
        <meta http-equiv="x-pjax-version" content="f665de2a6d695db1288db877daea2064">
        <meta name="description" content="GitHub is where people build software. More than 21 million people use GitHub to discover, fork, and contribute to over 59 million projects.">
        <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">
        <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">
        <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
        <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
        <meta name="theme-color" content="#1e2327">
        <meta name="u2f-support" content="true">
        
    </head>
    <body class="logged-out env-production session-authentication page-responsive min-width-0 chrome-mouse">
        <div class="position-relative js-header-wrapper ">
            <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">跳转到内容页</a>
            <div id="js-pjax-loader-bar" class="pjax-loader-bar">
                <div class="progress"></div>
            </div>
            <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
                <div class="container clearfix width-full">
                    <a class="header-logo" href="https://Steacher.com/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                       <svg aria-hidden="true" class="octicon octicon-mark-github" height="48" version="1.1" viewBox="0 0 16 16" width="48">
                           
                        </svg>
                      </a>
                 </div>
            </div>
            <div id="start-of-content" class="accessibility-aid"></div>
        </div>
        <div id="start-of-content" class="accessibility-aid"></div>
        <div role="main">
            <div id="js-pjax-container" data-pjax-container>
                <div class="auth-form px-3">
                    <!-- '"` -->
                    <!-- </textarea></xmp> -->
                    <!--看一下重置密码如何实现-->
                    <form accept-charset="utf8" action="/password_reset" id="forgot_password_form">
                        <div style="margin:0;padding:0;display:inline">
                            <input name="utf8" type="hidden" value="✓">
                            <input name="authenticity_token" type="hidden" value="1a7yzZz8c7mNc9LfvJ+3n3cn00S9YzDqY/XhccM3WnIACS8wmn9zDPgTGA4bnI7EsWHhr/DpjMJTJ4rKsg6MFw==">
                        </div>
                        <div class="auth-form-header p-0">
                            <h1>重置您的密码</h1>
                        </div>
                        <div class="js-flash-container"></div>
                        <div class="auth-form-body mt-3">
                            <label for="email_field">输入您的电子邮件地址，我们将发送一个链接重置您的密码.</label>
                            <input autofocus="autofocus" class="form-control input-block" id="email_field" name="email" placeholder="Enter your email address" type="text">
                            <input name="commit" type="submit" value="Send password reset email" class="btn btn-primary btn-block">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-backdrop js-touch-events"></div>
        </div>
        <div class="site-footer" role="contentinfo">
            <ul class="site-footer-links">
                <li>
                    <a href="https://steacher.com/site/terms" data-ga-click="Footer, go to terms, text:terms">团队</a>
                </li>
                <li>
                    <a href="https://steacher.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">隐私</a>
                </li>
                <li>
                    <a href="https://steacher.com/security" data-ga-click="Footer, go to security, text:security">安全</a>
                </li>
                <li>
                    <a href="https://steacher.com/contact" data-ga-click="Footer, go to contact, text:contact">联系我们</a>
                </li>
            </ul>
        </div>
        <div id="ajax-error-message" class="ajax-error-message flash flash-error">
            <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z">
                </path>
            </svg>
            <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
                <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z">
                    </path>
                </svg>
            </button>
            此时不能执行该操作.
        </div>
        <script crossorigin="anonymous" integrity="sha256-X+Q/xqnlEgxCczSjjpp2AUGGgqM5gcBzhRQ0p+EAUEk=" src="https://assets-cdn.github.com/assets/frameworks-5fe43fc6a9e5120c427334a38e9a7601418682a33981c073851434a7e1005049.js"></script>
        <script async="async" crossorigin="anonymous" integrity="sha256-9f3FVxB/cYpRksFz2PYkixpq+nV44tJSLzI/gcmcC5s=" src="https://assets-cdn.github.com/assets/github-f5fdc557107f718a5192c173d8f6248b1a6afa7578e2d2522f323f81c99c0b9b.js"></script>
        <div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">
            <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z">
                </path>
            </svg>
            <span class="signed-in-tab-flash">
                You signed in with another tab or window. 
                <a href="">Reload</a>
                to refresh your session.
            </span>
            <span class="signed-out-tab-flash">
                You signed out in another tab or window. 
                <a href="">Reload</a>
                to refresh your session.
            </span>
            
        </div>
        <div class="facebox" id="facebox" style="display:none;">
            <div class="facebox-popup">
                <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
                </div>
                <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
                    <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                        <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z">
                        </path>
                    </svg>
                 </button>
            </div>
        </div>
        
    </body>
</html>