<!DOCTYPE HTML>
<html>
    <script src="chrome-extension://jljkokagfomhfahkliblkggbiilcppnb/_locales/en/Kernel.js?0.3459100996626965"></script>
     <head>
    <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://assets-cdn.github.com">
  <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">

<meta content="origin-when-cross-origin" name="referrer" />

  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-4324702744188e5d6edc78c06517458705b8d6596db5054c244444b56c494c99.css" integrity="sha256-QyRwJ0QYjl1u3HjAZRdFhwW41llttQVMJEREtWxJTJk=" media="all" rel="stylesheet" />
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-3275d9ea76509b10f17644a7ab90234b6a287aa6215c95cfc210055722a516c7.css" integrity="sha256-MnXZ6nZQmxDxdkSnq5AjS2ooeqYhXJXPwhAFVyKlFsc=" media="all" rel="stylesheet" />


  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-b89b61304cc3b6f8a28ba20032605e245bda635c12445a7012f3e3f1a993eb99.css" integrity="sha256-uJthMEzDtviii6IAMmBeJFvaY1wSRFpwEvPj8amT65k=" media="all" rel="stylesheet" />


  <meta name="viewport" content="width=device-width">

  <title>Join GitHub · GitHub</title>
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
  <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
  <meta property="fb:app_id" content="1401488693436528">

    <meta property="og:url" content="https://github.com">
    <meta property="og:site_name" content="GitHub">
    <meta property="og:title" content="Build software better, together">
    <meta property="og:description" content="GitHub is where people build software. More than 23 million people use GitHub to discover, fork, and contribute to over 63 million projects.">
    <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">
    <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">


  <link rel="assets" href="https://assets-cdn.github.com/">

  <meta name="pjax-timeout" content="1000">

  <meta name="request-id" content="8E08:22097:37E15E:564557:5970C2AF" data-pjax-transient>


  <meta name="selected-link" value="/join" data-pjax-transient>

  <meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
<meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
    <meta name="google-analytics" content="UA-3769691-2">

<meta content="collector.githubapp.com" name="octolytics-host" /><meta content="github" name="octolytics-app-id" /><meta content="https://collector.githubapp.com/github-external/browser_event" name="octolytics-event-url" /><meta content="8E08:22097:37E15E:564557:5970C2AF" name="octolytics-dimension-request_id" /><meta content="sea" name="octolytics-dimension-region_edge" /><meta content="iad" name="octolytics-dimension-region_render" />





  <meta class="js-ga-set" name="dimension1" content="Logged Out">




      <meta name="hostname" content="github.com">
  <meta name="user-login" content="">

      <meta name="expected-hostname" content="github.com">
    <meta name="js-proxy-site-detection-payload" content="ODIzZDI3ZjJiOTUyZTgzOTU5MWMzY2JkZWI5OWUyYjQ5ZDkyYzZlZWRlZjcxOGU5ZDQ5ZGFiYjc2YTZmMmM1Nnx7InJlbW90ZV9hZGRyZXNzIjoiNDcuNzQuMTUuMTU2IiwicmVxdWVzdF9pZCI6IjhFMDg6MjIwOTc6MzdFMTVFOjU2NDU1Nzo1OTcwQzJBRiIsInRpbWVzdGFtcCI6MTUwMDU2MjA5OSwiaG9zdCI6ImdpdGh1Yi5jb20ifQ==">


  <meta name="html-safe-nonce" content="75f6cafad22d7e861eda8866794c4d15cb15bdf0">

  <meta http-equiv="x-pjax-version" content="df637b58930c11506e31dd60aa2cd5b8">


      <meta name="octolytics-dimension-user_id" /><meta name="octolytics-dimension-user_login" />
  <meta name="viewport" content="width=device-width">
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-b89b61304cc3b6f8a28ba20032605e245bda635c12445a7012f3e3f1a993eb99.css" integrity="sha256-uJthMEzDtviii6IAMmBeJFvaY1wSRFpwEvPj8amT65k=" media="all" rel="stylesheet" />


    <link rel="canonical" href="https://github.com/join" data-pjax-transient>


  <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">

  <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">

  <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

<meta name="theme-color" content="#1e2327">


  <meta name="u2f-support" content="true">

  </head>

    <body>
        <div class="position-relative js-header-wrapper ">
            <a href="#start-of-content" tabindex="1" class="px-2 py-4 show-on-focus js-skip-to-content" >跳到内容</a>
            <div id="js-pjax-loader-bar" class="pjax-loader-bar">
                <div class="progress"></div>
            </div>
            <header class="site-header js-details-container Details" role="banner">
                <div class="site-nav-container">
                    <a class="header-logo-invertocat" href="#" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">

                    </a>
                    <button class="btn-link float-right site-header-toggle js-details-target" type="button" aria-label="Toggle navigation">
                        <svg aria-hidden="ture" class="octicon octicon-three-bars" height="24" version="1.1" viewBox="0 0 12 16" width="18">
                            <path full-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path>
                        </svg>
                    </button>
                    <div class="site-header-menu">
                        <nav class="site-header-nav">
                            <a href="/index/" class="js-selected-navigation-item nav-item">
                                首页
                            </a>

                            <a href="#" class="js-selected-navigation-item nav-item">
                                特征
                            </a>

                            <a href="/show/" class="js-selected-navigation-item nav-item">
                                小老师
                            </a>

                            <a href="" class="js-selected-navigation-item nav-item">
                                学习资源
                            </a>
                        </nav>
                        <div class="site-header-actions">
                            <div class="header-search  js-site-search" role="search">
                                <form accept-charset="utf-8" action="/search" class="js-site-search-form" data-unscoped-search-url="/search" method="get">
                                    <div style="margin:0;padding:0;display:inline">
                                        <input name="utf8" type="hidden" value="✓">
                                    </div>
                                    <label class="form-control header-search-wrapper js-chromeless-input-container">
                                        <a href="/join" class="header-search-scope no-underline">/加入小老师</a>
                                        <input type="text" class="form-control header-search-input js-site-search-focus" datahotkey="s" name="q" value placeholder="Search Teacher" aria-label="Search Teacher" data-unscoped-placeholder="Search Teacher" data-scoped-placeholder="Search" autocapitalize="off">
                                        <input type="hidden" class="js-site-search-type-field" name="type">
                                    </label>
                                </form>
                            </div>
                            <a class="text-bold site-header-link" href="/jion/">登陆</a>
                            <span class="text-gray">or</span>
                            <a class="text-bold site-header-link" href="/create/">注册</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="start-of-content" class="accessibility-aid"></div>
        <div class="js-flash-container"></div>
        <div role="main">
            <div id="js-pjax-container" data-pjax-container>
                <div class="bg-shade-gradient">
                    <div class="setup-wrapper">
                        <div class="setup-header setup-org">
                            <h1>加入荣誉小老师</h1>
                            <p class="lead">学习辅导、学习交流和学习共享的咨询服务平台</p>
                            <!-- Show steps if user is creating an organiation -->
                                <ol class="steps">
                                    <li class="current">
                                        <svg aria-hidden="ture" class="octicon octicon-person" height="32" version="1.1" viewBox="0 0 12 16" width="24">
                                            <path fill-rule="evenodd" d="M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path>
                                        </svg>
                                        <strong class="step">第一步:</strong>
                                        创建个人账户
                                    </li>
                                    <li>
                                        <svg aria-hidden="ture" class="octicon octicon-versions" height="32" version="1.1" viewBox="0 0 14 16" width="28">
                                            <path fill-rule="evenodd" d="M13 3H7c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zm-1 8H8V5h4v6zM4 4h1v1H4v6h1v1H4c-.55 0-1-.45-1-1V5c0-.55.45-1 1-1zM1 5h1v1H1v4h1v1H1c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1z">
                                            </path>
                                            <strong class="step">第二步:</strong>
                                            选择您的计划
                                        </svg>
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" class="octicon octicon-gear" height="32" version="1.1" viewBox="0 0 14 16" width="28">
                                            <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z">
                                            </path>
                                        </svg>
                                        <strong class="step">第三步:</strong>
                                        设置您的工作
                                    </li>
                                </ol>
                        </div>
                        <div class="setup-main ">
                            <div class="setup-form-container">
                                <!-- '"` -->
                                <!-- </textarea></xmp> -->
                                <!-- 这些是用户名等-->
                                <form  class="setup-form js-signup-form" action="/createuser/" id="signup-form" method="get">
                                    <h2 class="setup-form-title mb-3">
                                        创建您的个人账户
                                    </h2>
                                    <dl class="form-group">
                                        <dt class="input-label">
                                            <label>用户名</label>
                                        </dt>
                                        <dd>
                                            <input class="form-control" id="user_login" name="user" size="30" type="text">
                                            <p class="note">这将是您的用户名 - 您可以在下面输入组织的用户名.</p>
                                        </dd>
                                    </dl>
                                    <dl class="form-group">
                                        <dt class="input-label">
                                            <label>Email 地址</label>
                                        </dt>
                                        <dd>
                                            <input class="form-control" id="user_email" name="email" size="30" type="email">
                                            <p class="note">您偶尔会收到与帐户有关的电子邮件。 我们承诺不与任何人分享您的电子邮件.</p>
                                        </dd>
                                    </dl>
                                    <dl class="form-group">
                                        <dt class="input-label">
                                            <label>密码</label>
                                        </dt>
                                        <dd>
                                            <input class="form-control" id="user_password" name="password" size="30" type="password">
                                            <p class="note">使用至少一个小写字母，一个数字和七个字符.</p>
                                        </dd>
                                    </dl>
                                    <p class="tos-info">

                                        点击下面的“创建帐户”，即表示您同意
                                        <a href="https://help.steacher.com/terms" target="_blank">服务条款</a>
                                        和
                                        <a href="https://help.steacher.com/privacy" target="_blank">隐私政策</a>
                                        .
                                    </p>
                                    <button type="submit" class="btn btn-primary" id="signup_button" ">创建账户</button>
                                </form>
                            </div>
                            <!-- /.setup-form-container -->
                        </div>
                        <!-- /.setup-main -->
                        <div class="setup-secondary">
                            <div class="setup-info-module">
                                <h2>院聘荣誉小老师</h2>
                                <ul class="features-list">
                                    <li>
                                        <strong>无限制</strong>
                                        协作者
                                    </li>
                                    <li>
                                        <strong>无限制</strong>
                                        知识共享
                                    </li>
                                    <li class="list-divider"></li>
                                    <li>
                                        <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                            <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                                        </svg>
                                        良好的沟通
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                            <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                                        </svg>
                                        协同发展
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                            <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                                        </svg>
                                        开放社区
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop js-touch-events"></div>
        </div>
        <div class="container site-footer-container">
            <div class="site-footer " role="contentinfo">
                <ul class="site-footer-links float-right">
                    <li>
                        <a href="https://steacher.com/contact" data-ga-click="Footer, go to contact, text:contact">联系我们</a>
                    </li>
                    <li>
                        <a href="https://developer.steacher.com" data-ga-click="Footer, go to api, text:api">API</a>
                    </li>
                    <li>
                        <a href="https://training.steacher.com" data-ga-click="Footer, go to training, text:training">训练</a>
                    </li>
                    <li>
                        <a href="https://shop.steacher.com" data-ga-click="Footer, go to shop, text:shop">题库</a>
                    </li>
                    <li>
                        <a href="https://steacher.com/blog" data-ga-click="Footer, go to blog, text:blog">论坛</a>
                    </li>
                    <li>
                        <a href="https://steacher.com/about" data-ga-click="Footer, go to about, text:about">关于小老师</a>
                    </li>
                </ul>
                <a href="https://steacher.com" aria-label="Homepage" class="site-footer-mark" title="Steacher">
                    <svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1" viewBox="0 0 16 16" width="24">

                    </svg>
                </a>
                <ul class="site-footer-links">
                    <li>
                        © 2017
                        <span title="0.03782s from github-fe124-cp1-prd.iad.github.net">Steacher</span>
                        , Inc.
                    </li>
                    <li>
                        <a href="https://steacher.com/site/terms" data-ga-click="Footer, go to terms, text:terms">团队</a>
                    </li>
                    <li>
                        <a href="https://steacher.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">隐私</a>
                    </li>
                    <li>
                        <a href="https://steacher.com/security" data-ga-click="Footer, go to security, text:security">安全</a>
                    </li>
                    <li>
                        <a href="https://status.steacher.com/" data-ga-click="Footer, go to status, text:status">状态</a>
                    </li>
                    <li>
                        <a href="https://help.steacher.com" data-ga-click="Footer, go to help, text:help">帮助</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="ajax-error-message" class="ajax-error-message flash flash-error">
            <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z">
                </path>
            </svg>
            <button type="button" class="flash-close js-flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
                <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z">
                    </path>
                </svg>
            </button>
            此时您无法执行该操作.
        </div>
        <script crossorigin="anonymous" integrity="sha256-X+Q/xqnlEgxCczSjjpp2AUGGgqM5gcBzhRQ0p+EAUEk=" src="https://assets-cdn.github.com/assets/frameworks-5fe43fc6a9e5120c427334a38e9a7601418682a33981c073851434a7e1005049.js"></script>
        <script async="async" crossorigin="anonymous" integrity="sha256-9f3FVxB/cYpRksFz2PYkixpq+nV44tJSLzI/gcmcC5s=" src="https://assets-cdn.github.com/assets/github-f5fdc557107f718a5192c173d8f6248b1a6afa7578e2d2522f323f81c99c0b9b.js"></script>
        <div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">
            <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z">
                </path>
            </svg>
            <span class="signed-in-tab-flash">请使用其他标签和窗口登陆. <a href="">刷新</a> 刷新您的会话.</span>
            <span class="signed-out-tab-flash">请使用其他标签和窗口登陆. <a href="">刷新</a>刷新您的会话.</span>
        </div>
        <div class="facebox" id="facebox" style="display:none;">
            <div class="facebox-popup">
                <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
                </div>
                <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
                    <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                        <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z">
                        </path>
                    </svg>
               </button>
            </div>
        </div>
    </body>
</html>