
<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
    
    <!-- Your Basic Site Informations -->
    <title>小老师预约系统</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="学习与咨询" />
    <meta name="author" content="Affapress" />
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" type="text/css">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/jquery.fancybox.css">
    <link rel="stylesheet" href="./css/flexslider.css">
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue.css">-->
    <!--<link rel="stylesheet" href="css/colors/green.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css">-->
    
    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
    
    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->
    
    <noscript><link rel="stylesheet" href="./css/css/no-js.css"></noscript>
    
    <!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
    
</head>
<body>
    
    <!-- #header -->
    <header id="header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="https://ctld.ntu.edu.tw/ls/reservation/v3//assets/soonsite/images/content/bg/1.jpg">
    	
                
        <!-- .header-overlay -->
        <div class="header-overlay">
            
            <!-- #navigation -->
            <nav id="navigation" class="navbar">
                
                <!-- .container -->
                <div class="container">
                    
                    <div class="navbar-brand">
                    	<a href="https://ctld.ntu.edu.tw/ls/reservation/v3/index.php/"><img src="https://ctld.ntu.edu.tw/ls/reservation/v3//images/logo_white.png" alt="Logo"/></a> <!-- site logo -->
                    </div>
                    
                    <ul class="nav navbar-nav">
                        
                        <li class="active"><a href="../steacher/index.html" class="smooth-scroll">首頁</a></li>
                        <li><a href="#" class="smooth-scroll">最新消息</a></li>
                        <li><a href="../steacher/show.html" class="smooth-scroll">小老师列表</a></li>
                        <li><a href="./reserve.html" class="smooth-scroll">预约管理</a></li>
                        <li><a href="../steacher/show.html" class="smooth-scroll">荣誉榜</a></li>
                        <li><a href="../register.html" class="smooth-scroll">注册</a></li>
                        <li><a href="../login.html" class="smooth-scroll">登录</a></li>
                    </ul>
                    
                </div>
                <!-- .container end -->
                
            </nav>
            <!-- #navigation end -->
            
                        
        </div>
        <!-- .header-overlay -->
        
    </header>
    <!-- #header end -->
    <script>
	
	</script>
    <!-- #teams -->

    <div id="teams" class="wrap-container8040">

        <!-- .container -->

        <div class="container">

            <div class="post-heading-center">

                <h2>小老师介绍</h2>
                <p>Introduce Tutors</p>

            </div>

            <div class="row well">

                <div class="col-sm-12"> <!-- 1 -->

                    <div class="affa_team_profile">

                        <table class="table table-bordered">
                        <tr>
                            <th></th>
                            <th width="10%">照片</th>
                            <th width="10%">姓名</th>
                            <th width="10%">院系</th>
                            <th width="10%">辅导科目</th>
                            <th width="10%">Email</th>
                            <th width="10%">手机</th>
                            <th width="40%">个人自荐</th>
                        </tr>
                                                	<tr>
                             <td>1</td>
                             <td>                                
                                 <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20170221100947_7832.jpg" class="img-responsive">
                               </td>             
                             <td>許孟弘</td>
                             <td>理學院數學系</td>
                             <td>Calculus 1<br>Calculus A<br></td>
                             <td>r00221033@ntu.edu.tw</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   嗨~大家好！<br />
   <br />
   <span>系統備註：</span><br />
   <span>此小老師可詢問微積分甲、乙(小老師為數學系背景) </span><br />
   <span>Questions on Calculus are welcomed (The tutor major academic field is in Mathematics)</span></p>
 </body>
</html>
</td>
                           </tr>
                                                	<tr>
                             <td>2</td>
                             <td>                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20161001101800_5319.jpg" class="img-responsive">
                               </td>             
                             <td>黃嚴樞</td>
                             <td>工學院化工系</td>
                             <td>Calculus 2<br>Calculus B<br></td>
                             <td>b02504070@ntu.edu.tw</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   <span font-family:="" font-size:="" p="">本諮詢內容包含「微積分」與「普通化學」</span></p>
  <p>
   <span font-family:="" font-size:="" p="">預約時請先選取想諮詢的主題</span></p>
  <p>
   <span font-family:="" font-size:="" p="">並上傳想要問的內容 (題目、講義 or 課本內容)，可以照片或pdf檔的形式上傳</span></p>
  <p>
   <span font-family:="" font-size:="" p="">以利小老師準備，謝謝</span></p>
  <p>
   <span><span font-family:="" font-size:="" p="">&nbsp;</span></span></p>
  <p>
   <span><span font-family:="" font-size:="" p="">此小老師可詢問微積分甲(乙)和普通化學</span></span></p>
  <p>
   Questions on Calculus and General Chemistry are welcomed&nbsp;</p>
 </body>
</html>
</td>
                           </tr>
                                                	<tr>
                             <td>3</td>
                             <td>                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20161003135312_3391.jpg" class="img-responsive">
                               </td>             
                             <td>潘晧人</td>
                             <td>化工系</td>
                             <td>Calculus 3<br>Calculus C<br></td>
                             <td>b02504097@ntu.edu.tw<br>linkinflyer@gmail.com</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   <span span="">此小老師可詢問微積分甲(乙)和普通化學</span><br />
   <span rgb(255,="" 255,="" 0);"="">Questions on Calculus and General Chemistry are welcomed&nbsp;</p>
  <p>
   如果你/妳的問題涵蓋不只一個主題(或不在列表中)，預約時請額外註明以便讓我知道</p>
  <p>
   若你/妳是為了準備國考/轉學考/研究所考試而來，也請於預約時註明，感謝 :))</p>
  <p>
   If your questions are covered by more than one topic or not listed on the table,</p>
  <p>
   please let me know when you make a reservation. Thanks a lot :))</p>
 </body>
</html>
</td>
                           </tr>
                                                	<tr>
                             <td>4</td>
                             <td>                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20170310102725_3814.jpg" class="img-responsive">
                               </td>             
                             <td>彭俊又</td>
                             <td>電機系</td>
                             <td>General Physics 1<br>General Physics A<br></td>
                             <td>b01208026@ntu.edu.tw</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   預約時，請盡量詳細的描述您的問題~~</p>
  <p>
   讓小老師能夠更充分的準備，謝謝!!</p>
  <p>
   若有多個問題，可以彙整成一份word或pdf檔，或壓縮成zip再上傳</p>
 </body>
</html>
</td>
                           </tr>
                                                	<tr>
                             <td>5</td>
                             <td>                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20161003115613_2609.jpg" class="img-responsive">
                               </td>             
                             <td>吳致賢</td>
                             <td>商研所</td>
                             <td>Statistics 1<br>Statistics A<br></td>
                             <td>r04741009@ntu.edu.tw<br>jeffwu820313@gmail.com</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   Hi~大家好!</p>
  <p>
   有任何有關統計的問題，歡迎一起討論交流!!!</p>
  <p>
   <span span="">此小老師可詢問統計學</span><br />
   <span rgb(255,="" 255,="" 0);"="">Questions on Statistics are welcomed&nbsp;</p>
  <p>
   &nbsp;</p>
 </body>
</html>
</td>
                           </tr>
                                                	<tr>
                             <td>6</td>
                             <td>                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20161001101740_5369.jpg" class="img-responsive">
                               </td>             
                             <td>郭楚萱</td>
                             <td>理學院心理系一般組</td>
                             <td>English 1<br>English A<br></td>
                             <td>r04227104@ntu.edu.tw<br>r04227104@ntu.edu.tw</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   Hello! 大家好!&nbsp;</p>
  <p>
   <span span="">此小老師可詢問英文相關 聽說讀寫</span><br />
   <span rgb(255,="" 255,="" 0);"="">English Subjects:&nbsp;Listening, Oral/Speaking, Reading, and &nbsp;Writing (including SOP tips)</p>
 </body>
</html>
</td>
                           </tr>
                                                	<tr>
                             <td>7</td>
                             <td>                                <img src="https://ctld.ntu.edu.tw/ls/reservation/v3//uploads/tutor_20161003114941_5045.jpg" class="img-responsive">
                               </td>             
                             <td>秦家敏</td>
                             <td>森林環資系</td>
                             <td>Principle of Economics A<br>Principle of Economics 1<br></td>
                             <td>b03605037@ntu.edu.tw</td>
                             <td></td>
                             <td><html>
 <head>
  <title></title>
 </head>
 <body>
  <p>
   <span span="">此小老師可詢問普通生物、英文和經濟學原理</span><br />
   <span rgb(255,="" 255,="" 0);"="">Questions on General Biology, English, and&nbsp;Principle of Economics&nbsp;are welcomed&nbsp;</p>
 </body>
</html>
</td>
                           </tr>
                                                </table>
		
        			                    </div>

                </div>
                
            </div>
            
        </div>

        <!-- .container end -->

    </div>

    <!-- #teams end -->
    
    
    
    
    
<!-- #bottom -->
    <div id="bottom">
    	
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
                <p>地址：天津市  No.1, Sec. 4, Roosevelt Road, Taipei, 10617, Taiwan, R.O.C.</p>
                <p>TEL：886-2-3366-9593</p>
                <p>FAX：886-2-3366-9594</p>
                <p>E-mail：ntulsctld@ntu.edu.tw</p>
            </div>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #bottom end -->
    
    <!-- #footer -->
    <footer id="footer">
    	
        <!-- .container -->
        <div class="container">
            
            <!--<div class="footer_socials">
                <a href="#" class="link-twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="link-pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" class="link-instagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="link-dribbble" title="Dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="link-github" title="Github"><i class="fa fa-github"></i></a>
                <a href="#" class="link-skype" title="Skype"><i class="fa fa-skype"></i></a>
                <a href="#" class="link-google-plus" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="link-facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            </div>-->
            
            <p>天津大学仁爱学院版权所有　　Copyright © 2016-2017 Intelligent Library New Technology R & D Center. All Rights Reserved</p>
            
        </div>
        <!-- .container end -->
        
    </footer>
    <!-- #footer end -->
    
    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->
    
    <!-- JavaScripts -->
    <script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="./js/response.min.js"></script>
	<script type="text/javascript" src="./js/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="./js/smoothscroll.js"></script>
	<script type="text/javascript" src="./js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="./js/jquery.imgpreload.min.js"></script>
	<script type="text/javascript" src="./js/waypoints.min.js"></script>
    <script type="text/javascript" src="./js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="./js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="./js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="./js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="./js/parallax.min.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>
    
</body>
</html>