<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="get">
您喜欢的水果？<br /><br />
    <label><input name="Fruit" type="checkbox" value="" />苹果 </label>
    <label><input name="Fruit" type="checkbox" value="" />桃子 </label>
    <label><input name="Fruit" type="checkbox" value="" />香蕉 </label>
    <label><input name="Fruit" type="checkbox" value="" />梨 </label>
    <label><input type="radio" name="radiobutton" value="radiobutton" checked> 喜欢 </label>
    <label><input type="radio" name="radiobutton" value="radiobutton"> 不喜欢 </label>
    <label><input type="radio" name="radiobutton" value="radiobutton"> 不喜欢 </label>
    <input type="submit" value="提交">
     
</form>
</body>
</html>